.uk-table th {
    padding: 0px 12px 0px 0px;
}

.uk-label {
    text-transform: none;
}

.uk-table td {
    padding: 0px 12px 0px 0px;
}

.uk-table {
    margin: 0;
}

html {
    font-size: 9.7px;
}

.uk-table-striped tbody tr:nth-of-type(2n+1), .uk-table-striped > tr:nth-of-type(2n+1) {
    background: #000;
    border-top: 0px;
    border-bottom: 0px;
    color: white;
}